<h1>Olá {{ name }}</h1>

<p>Recebemos uma solicitação para trocar a senha</p>
<p>Caso não tenha sido você que pediu, desconsidere esse email</p>
<p>Se você realmente quer trocar a senha, <a href="{{urlTrocaSenha}}">clique aqui</a></p>
